.headline
{
    color: white;
    background-image: url(../image/top_block.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline__slogan
{
    font: 400 50px/1.02 'Lora';
    letter-spacing: 2px;
    display: flex;
    margin-top: 11.7%;
}

.headline__description
{
    font: 400 17px/1.18 'Oxygen';
    color: rgba(255, 255, 255, 0.63);
    display: flex;
}

.headline__button
{
    display: flex;
    justify-content: center;
    background-color: #DD783F;
    border-width: 0;
    border-radius: 3px;
    font: 400 13px/1.54 'Oxygen';
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 11.6%;
}

.top-menu
{
    background-color: white;
    padding-bottom: 22.5px;
    padding-top: 22.5px;
    padding-left: 20.5%;
    padding-right: 20.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-menu__link
{
    text-decoration: none;
    font: 400 14px/1.43 'Lora';
    color: #768088;
}

.feautured-posts
{
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feautured-posts__title
{

    font: 400 20px/1.35 'Oxygen';
    letter-spacing: 2px;
    text-align: center;
    color: #2E2E2E;
    width: 188px;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 16px;
}

.feautured-post-blogs
{
    display: flex;
    flex-direction: row;
}

.feautured-post-blogs__feautured-post_the-road-ahead
{
    background-image: url(../image/mountain.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-bottom: 160px;
    width: 460px;
    border-radius: 3px;
}

.feautured-post-blogs__feautured-post_from-top-down
{
    background-image: url(../image/lights.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-bottom: 160px;
    width: 460px;
    border-radius: 3px;
}

.feautured-post__headline_link
{
    text-decoration: none;
    font: 400 27px/1.11 'Lora';
    color: white;
}

.feautured-post__button
{
    background-color: #DD783F;
    border-width: 0;
    border-radius: 3px;
    height: 26px;
    width: 87px;
    font: 400 12px 'Oxygen';
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding-top:1%;
}

.feautured-post__quote
{
    font: 400 14px/1.79 'Oxygen';
    color: rgba(255, 255, 255, 0.7);
}

.feautured-post__image
{
    border-radius: 60px;
}

.feautured-post__author
{
    font: 400 12px/2.92 'Oxygen';
    color: rgba(255, 255, 255, 0.7);
}

.feautured-post__date
{
    font: 400 12px/2.92 'Oxygen';
    color: rgba(255, 255, 255, 0.7);
}

.most-recent
{
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.most-recent__title
{
    font: 400 20px/1.35 'Oxygen';
    letter-spacing: 2px;
    text-align: center;
    color: #2E2E2E;
    width: 188px;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 16px;
}

.most-recents-blogs
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 17.5%;
    margin-right: 17.5%;
}

.most-recent-post
{
    background-color: white;
    box-sizing: border-box;
    width: 296px;
}

.most-recent-post__image
{
    size: 100%;
}

.most-recent-post__headline
{
    font: 400 16px/1.32 'Lora';
    color: black;
}

.most-recent-post__quote
{
    font: 400 13px/1.46 'Oxygen';
    color: #7A7A7A;
}

.most-recent-post__info
{
    font: 400 12px/2.92 'Oxygen';
    color: #999999;
    background-color: #FCFCFC;
    border-top: 1px solid #fcfcfc9c;
}

.info__image
{
    border-radius: 60px;
}

.info_author
{
    font: 400 12px/2.92 'Oxygen';
    color: #999999;
}

.info_date
{
    font: 400 12px/2.92 'Oxygen';
    color: #999999;
}