.top-block
{
    background-color: #2E2E2E;
}

.top-block__logo 
{
    font: 400 26px 'Lora';
    color: white;
}

.navigation__link 
{
    text-decoration: none;
    font: 400 11px/1.82 'Oxygen';
    letter-spacing: 0.6px;
    color: white;
}

.footer 
{
    background-image: url(../image/footer.png);
    background-color: rgba(35, 47, 56, 0.6);
    background-size: 100%;
}

.footer__logo
{
    font: 400 26px 'Lora';
    color: white;
}

.footer-navigation__link
{
    text-decoration: none;
    font: 400 11px/1.82 'Oxygen';
    letter-spacing: 0.6px;
    color: rgba(255, 255, 255, 0.6); 
}