.top-block 
{
  background-image: url(../image/top_block.jpg);
  width: 100%;
  height: 500px;
}

.top-block__menu 
{

}

.menu__logo 
{
  font-family: Lora;
  font-size: 26px;
  line-height: 1;
  color: white;
}

.menu__navigation 
{
}

.navigation__link 
{
  text-decoration: none;
  font-family: Oxygen;
  font-size: 11px;
  line-height: 1.82;
  color: white;
}

.top-block__centertext
{
  color: white;
}

.centertext__main
{
  font-family: Lora;
  font-size: 50px;
  line-height: 1;
}

.centertext__slogan
{
  font-family: Oxygen;
  font-size: 17px;
  line-height: 1.18;
  color: rgba(255, 255, 255, 0.63);
}

.top-block__button
{
  background-color: #DD783F;
  border-width: 0;
  border-radius: 3px;
  height: 44px;
  width: 167px;
  font-family: Oxygen; 
  font-size: 13px;
  line-height: 1.54;
  color: white;
}

.top-menu
{
  background-color: white;
}

.top-menu__link
{
  text-decoration: none;
  font-family: Lora;
  font-size: 14px;
  line-height: 1.43;
  color: #768088;
}

.main-content
{
  background-color: #F7F7F7;
}

.main-content__centertext
{
  font-family: Oxygen;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 2px;
  color: #2E2E2E;
}

.main-content__leftpost
{
  background-image: url(../image/mountain.jfif);
}

.leftpost__healine
{

}

.leftpost__headline_link
{
  text-decoration: none;
  font-family: Lora;
  font-style: normal;
  font-size: 27px;
  line-height: 1.11;
  color: white;
}

.leftpost__text
{
  font-family: Oxygen;
  font-style: normal;
  font-size: 14px;
  line-height: 1.79;
  color: rgba(255, 255, 255, 0.7);
}

.leftpost__image
{
  border-radius: 60px;
}

.leftpost__info
{
  font-family: Oxygen;
  font-size: 12px;
  line-height: 2.92;
  color: rgba(255, 255, 255, 0.7);
}

.main-content__rightpost
{
  background-image: url(../image/lights.jfif);
}

.rightpost__healine
{

}

.rightpost__headline_link
{
  text-decoration: none;
  font-family: Lora;
  font-style: normal;
  font-size: 27px;
  line-height: 1.11;
  color: white;
}

.rightpost__text
{
  font-family: Oxygen;
  font-style: normal;
  font-size: 14px;
  line-height: 1.79;
  color: rgba(255, 255, 255, 0.7);
}

.rightpost__image
{
  border-radius: 60px;
}

.rightpost__info
{
  font-family: Oxygen;
  font-size: 12px;
  line-height: 2.92;
  color: rgba(255, 255, 255, 0.7);
}

.under-main-content
{
  background-color: #F7F7F7;
}

.under-main-content__centertext
{
  font-family: Oxygen;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 2px;
  color: #2E2E2E;
}

.under-main-content__posts
{

}

.posts-text {

}

.posts-text__headline
{
  font-family: Lora;
  font-size: 16px;
  line-height: 1.32;
  color: black;
}

.posts-text__text
{
  font-family: Oxygen;
  font-size: 13px;
  line-height: 1.46;
  color: #7A7A7A;
}

.posts-text__image
{

}

.posts-text__photo
{
  border-radius: 60px;
}

.posts-text__info
{
  font-family: Oxygen;
  font-size: 12px;
  line-height: 2.92;
  color: #999999;
}

.footer 
{
  background-image: url(../image/footer.png);
  background-color: rgba(35, 47, 56, 0.6);
}

.footer__logo
{
  font-family: Lora;
  font-size: 26px;
  line-height: 1;
  color: white;
}

.footer__navigation
{

}

.footer-navigation__link
{
  text-decoration: none;
  font-family: Oxygen;
  font-size: 11px;
  line-height: 1.82;
  color: rgba(255, 255, 255, 0.6); 
}